.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 10, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-vertical{
  background-color: rgb(206, 104, 104);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-width: 20px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

.div-horizontal{
  background-color: rgb(206, 104, 104);
  writing-mode: horizontal-tb;
  min-width: 20px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
 .hiddenHorizontal{
  color :  rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  writing-mode: horizontal-tb;
  min-width: 20px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
 }

.cursos{
  background-color: rgb(206, 104, 104);
  min-width: 20px;
  border-radius: 10px;  
}

.primero{
  background-color: rgb(253, 253, 216);
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.segundo{
  background-color: rgb(253, 218, 216);
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.tercero{
  background-color: rgb(216, 222, 253);
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.cuarto{
  background-color: rgb(216, 253, 216);
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
