

.outer-container{
    height: 25px;
    width: 100%;
}

.inner-container{
    height: 100%;
    width: var(--width);
    text-align: center;
    color: black;
    background: orange;
    box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
    border-radius: 50px;
    transition: all 0.5s;
}